body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 3rem;
  background-color: #A9CEF4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
label {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.menu {
  height: 30rem;
  width: 20rem;
  border: 2px solid black;
  background-color: #F8F7F9;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.menu-tabs {
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.tab {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px;
  cursor: pointer;
  transition: transform .1s ease;
}
.tab:hover {
  transform: scale(1.05);
}
.tab.challenges {
  background-color: orange;
}
.tab.games {
  background-color: yellowgreen;
}
.tab.settings {
  background-color: cornflowerblue;
}
.challenge-form {
  background-color: lightgray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.challenges-menu, .games-menu, .settings-menu {
  padding-inline: 2rem;
  padding-bottom: 2rem;
  overflow: auto;
}
.received-challenges {
  background-color: lightgray;
  padding: 1rem;
}
.game-selector {
  cursor: pointer;
}
.game-selector.selected {
  background-color: firebrick;
}
.chessboard {
  height: 30rem;
  width: 30rem;
  border: 6px solid #555;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.pieces-container {
  position: absolute;
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.piece {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  font-size: 0.8rem;
  height: 12.5%;
  width: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s cubic-bezier(.47,.06,.77,1.12), background 0.05s ease;
  pointer-events: none;
}
.piece.on-white:hover {
  background-color: #9dccfa;
}
.piece.on-black:hover {
  background-color: cornflowerblue;
}
.piece.on-white.sel {
  background-color: #9dccfa;
}
.piece.on-black.sel {
  background-color: cornflowerblue;
}
.piece.act {
  pointer-events: all;
  cursor: pointer;
}
/*
.piece.white {
  color: black;
  background-color: white;
}
.piece.black {
  color: white;
  background-color: black;
}
*/
.piece img {
  width: 100%;
  height: 100%;
}
.piece.black img {
  filter: invert();
}
.squares-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.square {
  box-sizing: border-box;
  height: 12.5%;
  width: 12.5%;
  transition: border 0.05s cubic-bezier(.2,.37,.52,.98), background 0.05s ease;
}
.square.white {
  background-color: white;
}
.square.black {
  background-color: black;
}
.square.white.can-move {
  border: 5px solid #9dccfa;
  z-index: 1;
  cursor: pointer;
}
.square.white.can-move:hover {
  background-color: #9dccfa;
}
.square.black.can-move {
  border: 5px solid cornflowerblue;
  z-index: 1;
  cursor: pointer;
}
.square.black.can-move:hover {
  background-color: cornflowerblue;
}